*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container{
    width: 90vw;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}


.card{
    width: 20vw;
    height: 600px;
    border: 2px solid gray;
    border-radius: 35px;
    overflow: hidden;
    padding: 0px;
    padding-bottom: 20px;
}

.card img{
    width: 102%;
    height: 400px;
    
}